In [1]:
import pandas as pd

In [12]:
wildfire_data = pd.read_csv('../Clean_resources/CLEAN_wildfire_data.csv')
wildfire_data.head()

   AcresBurned  ArchiveYear  CalFireIncident     Counties
0     257314.0         2013             True     Tuolumne
1      30274.0         2013             True  Los Angeles
2      27531.0         2013             True    Riverside
3      27440.0         2013            False       Placer
4      24251.0         2013             True      Ventura

In [13]:
wildfire_data.dtypes

AcresBurned        float64
ArchiveYear          int64
CalFireIncident       bool
Counties            object
dtype: object

In [16]:
wildf = demo_data.astype({"CalFireIncident":'int'}) 
wildf.dtypes

AcresBurned        float64
ArchiveYear          int64
CalFireIncident      int32
Counties            object
dtype: object

In [ ]:
cali_data.to_csv('../Updated_Scrript/CLEAN_wildfire_data.csv', index=False)