In [1]:
import pandas as pd

In [2]:
asthma_df = pd.read_excel('../Raw_Data/asthma-prevalence-3.xlsx')
asthma_df.head()

,COUNTY,YEARS,STRATA,AGE GROUP,CURRENT PREVALENCE,95% CONFIDENCE INTERVAL,COUNTIES GROUPED,COMMENT
0,California,2015–2016,Total population,All ages,0.086958,(8.1–9.3),NaN,NaN
1,Alameda,2015–2016,Total population,All ages,0.090542,(5.9–12.2),NaN,NaN
2,Alpine,2015–2016,Total population,All ages,0.093000,(4.1–14.6),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
3,Amador,2015–2016,Total population,All ages,0.093000,(4.1–14.6),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
4,Butte,2015–2016,Total population,All ages,0.094291,(3.8–15.1),NaN,Estimate is statistically unstable. Caution is...

In [3]:
asthma_df2 = asthma_df[['COUNTY', 'YEARS', 'STRATA', 'AGE GROUP', 'CURRENT PREVALENCE']]
asthma_df2.head()

       COUNTY      YEARS            STRATA AGE GROUP  CURRENT PREVALENCE
0  California  2015–2016  Total population  All ages            0.086958
1     Alameda  2015–2016  Total population  All ages            0.090542
2      Alpine  2015–2016  Total population  All ages            0.093000
3      Amador  2015–2016  Total population  All ages            0.093000
4       Butte  2015–2016  Total population  All ages            0.094291

In [4]:
asthma_df2.to_csv('DataSources/CLEAN_asthma_data.csv', index = False)