In [33]:
import pandas as pd

In [34]:
charging_df = pd.read_csv('../Raw_Data/Charging Stations.csv')
charging_df.head()

C:\Users\andrew stein\.conda\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (5,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Fuel Type Code,Station Name,Street Address,City,State,ZIP,Plus4,Station Phone,Expected Date,Groups With Access Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,ELEC,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,NaN,NaN,NaN,Private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC,LADWP - West LA District Office,1394 S Sepulveda Blvd,Los Angeles,CA,90024,NaN,NaN,NaN,Private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,NaN,213-741-1151,NaN,Public,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,NaN,NaN,NaN,Private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,NaN,NaN,NaN,Private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
charging_df.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address', 'City', 'State',
       'ZIP', 'Plus4', 'Station Phone', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'NG PSI',
       'EV Level1 EVSE Num', 'EV Level2 EVSE Num', 'EV DC Fast Count',
       'EV Other Info', 'EV Network', 'EV Network Web', 'Geocode Status',
       'Latitude', 'Longitude', 'Date Last Confirmed', 'ID', 'Updated At',
       'Owner Type Code', 'Federal Agency ID', 'Federal Agency Name',
       'Open Date', 'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source',
       'Restricted Access'],
      dtype='object')

In [36]:
charging_df = charging_df[['State', 'ZIP', 'Access Code', 'Latitude', 'Longitude']]
charging_df

      State    ZIP Access Code   Latitude   Longitude
0        CA  91352     private  34.248319 -118.387971
1        CA  90024     private  34.052542 -118.448504
2        CA  90015      public  34.040539 -118.271387
3        CA  90012     private  34.059133 -118.248589
4        CA  90803     private  33.759802 -118.096665
...     ...    ...         ...        ...         ...
50284    CA  96120      public  38.684660 -120.065169
50285    CA  93907      public  36.801716 -121.664153
50286    OR  97005      public  45.489030 -122.798151
50287    SC  29349      public  35.082476  -82.058433
50288    CT   6611      public  41.228951  -73.223944

[50289 rows x 5 columns]

In [37]:
charging_df = charging_df[charging_df["State"] == "CA"]
charging_df

      State    ZIP Access Code   Latitude   Longitude
0        CA  91352     private  34.248319 -118.387971
1        CA  90024     private  34.052542 -118.448504
2        CA  90015      public  34.040539 -118.271387
3        CA  90012     private  34.059133 -118.248589
4        CA  90803     private  33.759802 -118.096665
...     ...    ...         ...        ...         ...
50264    CA  94555      public  37.540585 -122.077357
50265    CA  94555      public  37.537684 -122.073972
50266    CA  94555      public  37.537662 -122.073913
50284    CA  96120      public  38.684660 -120.065169
50285    CA  93907      public  36.801716 -121.664153

[14651 rows x 5 columns]

In [38]:
charging_df.nunique()

State              1
ZIP             1882
Access Code        2
Latitude       13939
Longitude      14039
dtype: int64

In [39]:
charging_df.dtypes

State           object
ZIP             object
Access Code     object
Latitude       float64
Longitude      float64
dtype: object

In [40]:
charging_ev_zip = charging_df['ZIP'].value_counts()
charging_ev_zip

94025    361
95054    249
92618    213
94080    144
92802    130
        ...
93257      1
94038      1
90220      1
92553      1
92373      1
Name: ZIP, Length: 1882, dtype: int64

In [41]:
charging_df.dtypes

State           object
ZIP             object
Access Code     object
Latitude       float64
Longitude      float64
dtype: object

In [42]:
charging_df = charging_df.astype({'ZIP':'int'})

In [43]:
charging_df.dtypes

State           object
ZIP              int32
Access Code     object
Latitude       float64
Longitude      float64
dtype: object

In [45]:
charging_df.to_csv('../Clean_Data/CLEAN_EV_chargers.csv',index=False)