In [2]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [3]:
#import the file from github to a dataframe
url = 'https://github.com/Bropell/Asthma_Analysis_in_California_Counties/raw/main/Resources/Raw_Data/asthma-prevalence-3.xlsx'
asthma_df = pd.read_excel(url)
asthma_df

,COUNTY,YEARS,STRATA,AGE GROUP,CURRENT PREVALENCE,95% CONFIDENCE INTERVAL,COUNTIES GROUPED,COMMENT
0,California,2015–2016,Total population,All ages,0.086958,(8.1–9.3),NaN,NaN
1,Alameda,2015–2016,Total population,All ages,0.090542,(5.9–12.2),NaN,NaN
2,Alpine,2015–2016,Total population,All ages,0.093000,(4.1–14.6),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
3,Amador,2015–2016,Total population,All ages,0.093000,(4.1–14.6),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
4,Butte,2015–2016,Total population,All ages,0.094291,(3.8–15.1),NaN,Estimate is statistically unstable. Caution is...
...,...,...,...,...,...,...,...,...
821,Tulare,2017–2018,Age groups,65+ years,NaN,NaN,NaN,Prevalence not available due to unreliable est...
822,Tuolumne,2017–2018,Age groups,65+ years,0.140353,(5.9–22.2),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
823,Ventura,2017–2018,Age groups,65+ years,0.119366,(3.3–20.5),NaN,Estimate is statistically unstable. Caution is...
824,Yolo,2017–2018,Age groups,65+ years,NaN,NaN,NaN,Prevalence not available due to unreliable est...
825,Yuba,2017–2018,Age groups,65+ years,0.143450,(0.2–28.5),NaN,Estimate is statistically unstable. Caution is...

In [4]:
#reduce columns to 'COUNTY', 'YEARS', 'STRATA', 'AGE GROUP', 'CURRENT PREVALENCE'
asthma_df2 = asthma_df[['COUNTY', 'YEARS', 'STRATA', 'AGE GROUP', 'CURRENT PREVALENCE']]
#asthma_df2 = asthma_df2.set_index("COUNTY")

In [5]:
# Remove unneeded values from DF
asthma_df3 = asthma_df2.loc[asthma_df2['AGE GROUP'] == 'All ages']
asthma_df3 = asthma_df3.loc[asthma_df3['YEARS'] == '2015–2016']
asthma_df3 = asthma_df3[['COUNTY','CURRENT PREVALENCE']]
asthma_df4 = asthma_df3.loc[asthma_df3['COUNTY'] != 'California']

In [6]:
# Fill in missing value with corresponding value from 2017-2018
asthma_df5 = asthma_df4.fillna(.137846)

In [7]:
# Check dtypes
asthma_df5.dtypes

COUNTY                 object
CURRENT PREVALENCE    float64
dtype: object

In [8]:
# Create new list for target values, 
# 1 if the asthma rate is greater than or equal to 8.8
# 0 if the asthma rate is less than 8.8
target = []
for i in range(len(asthma_df5['CURRENT PREVALENCE'])):
    if asthma_df5['CURRENT PREVALENCE'][i+1] >= .088:
        target.append("True")
    else:
        target.append("False")

asthma_df5['Target'] = target
asthma_df5 = asthma_df5[['COUNTY', 'Target']]

In [9]:
asthma_df5.COUNTY.unique()

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [10]:
asthma_df5

             COUNTY Target
1           Alameda   True
2            Alpine   True
3            Amador   True
4             Butte   True
5         Calaveras   True
6            Colusa  False
7      Contra Costa   True
8         Del Norte  False
9         El Dorado   True
10           Fresno   True
11            Glenn  False
12         Humboldt   True
13         Imperial   True
14             Inyo   True
15             Kern   True
16            Kings   True
17             Lake   True
18           Lassen  False
19      Los Angeles  False
20           Madera   True
21            Marin  False
22         Mariposa   True
23        Mendocino   True
24           Merced   True
25            Modoc  False
26             Mono   True
27         Monterey   True
28             Napa   True
29           Nevada  False
30           Orange  False
31           Placer  False
32           Plumas  False
33        Riverside   True
34       Sacramento   True
35       San Benito  False
36   San Bernardino   True
37        San Diego  False
38    San Francisco  False
39      San Joaquin  False
40  San Luis Obispo  False
41        San Mateo   True
42    Santa Barbara  False
43      Santa Clara  False
44       Santa Cruz   True
45           Shasta  False
46           Sierra  False
47         Siskiyou  False
48           Solano   True
49           Sonoma  False
50       Stanislaus   True
51           Sutter  False
52           Tehama  False
53          Trinity  False
54           Tulare  False
55         Tuolumne   True
56          Ventura  False
57             Yolo  False
58             Yuba   True

In [11]:
#export the cleaned data to a csv file change to "DataSource to: ../Clean_Data/"
asthma_df5.to_csv('../Clean_Data/CLEAN_asthma_data.csv', index = False)

In [13]:
#import the dataframe to a table in sql
#Make sure to add a config.py file in the folder where this script is that has the following
#db_password = "Your Password for SQL"
#also change the database name to the database we are importing the table to.
#we use final_project for our database name and it is create prior to running this script
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
#replace the file location to that of which the cleaned data was saved to csv.
#file line should match that of the export file location and name
for data in pd.read_csv(f'../Clean_Data/CLEAN_asthma_data.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    #name the table of which the dataframe is imported to in sql
    data.to_sql(name='asthma_by_county', con=engine, index=False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 58...Done. 0.07030844688415527 total seconds elapsed