In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

- This script imports the raw data from github 
- Organizes and cleans the dataframe
- Exports the clean data to a csv
- Imports the clean data directly to SQL

In [2]:
# import the file from github to a dataframe
url = '../Raw_Data/cali_clean_energy.csv'
ce_df = pd.read_csv(url)
ce_df

,County,Biomass,Small Hydro,Geothermal,Solar Thermal,Solar Photovoltaic,Wind,Total
0,Alameda,116.0,NaN,NaN,NaN,29.0,764.0,909
1,Alpine,0.0,0.0,0.0,0.0,0.0,0.0,0
2,Amador,NaN,78.0,NaN,NaN,2.0,NaN,80
3,Butte,3.0,225.0,NaN,NaN,16.0,NaN,244
4,Calaveras,NaN,202.0,NaN,NaN,3.0,NaN,205
5,Colusa,188.0,NaN,NaN,NaN,NaN,NaN,188
6,Contra Costa,31.0,NaN,NaN,NaN,83.0,88.0,201
7,Del Norte,0.0,0.0,0.0,0.0,0.0,0.0,0
8,El Dorado,NaN,190.0,NaN,NaN,NaN,NaN,190
9,Fresno,188.0,22.0,NaN,NaN,1981.0,NaN,2190
10,Glenn,NaN,14.0,NaN,NaN,4.0,NaN,18
11,Humboldt,190.0,NaN,NaN,NaN,16.0,NaN,205
12,Imperial,NaN,218.0,3694.0,NaN,3733.0,595.0,8239
13,Inyo,NaN,432.0,1177.0,NaN,NaN,NaN,1609
14,Kern,326.0,259.0,NaN,NaN,7086.0,7476.0,15147
15,Kings,NaN,NaN,NaN,NaN,1087.0,NaN,1087
16,Lake,NaN,8.0,1120.0,NaN,5.0,NaN,1134
17,Lassen,188.0,83.0,NaN,NaN,6.0,NaN,278
18,Los Angeles,837.0,526.0,NaN,NaN,2734.0,5.0,4101
19,Madera,72.0,238.0,NaN,NaN,51.0,NaN,361
20,Marin,28.0,NaN,NaN,NaN,4.0,NaN,32
21,Mariposa,NaN,46.0,NaN,NaN,NaN,NaN,46
22,Mendocino,NaN,33.0,NaN,NaN,12.0,NaN,45
23,Merced,47.0,20.0,NaN,NaN,327.0,14.0,407
24,Modoc,0.0,0.0,0.0,0.0,0.0,0.0,0
25,Mono,NaN,87.0,208.0,NaN,NaN,NaN,295
26,Monterey,55.0,NaN,NaN,NaN,360.0,12.0,427
27,Napa,NaN,NaN,NaN,NaN,3.0,NaN,3
28,Nevada,NaN,303.0,NaN,NaN,NaN,NaN,303
29,Orange,499.0,22.0,NaN,NaN,5.0,NaN,526
30,Placer,292.0,354.0,NaN,NaN,8.0,NaN,653
31,Plumas,160.0,7.0,NaN,NaN,NaN,NaN,167
32,Riverside,356.0,42.0,NaN,617.0,2775.0,1522.0,5311
33,Sacramento,115.0,40.0,NaN,NaN,283.0,NaN,438
34,San Benito,NaN,NaN,NaN,NaN,393.0,NaN,393
35,San Bernardino,NaN,95.0,NaN,1686.0,1520.0,7.0,3308
36,San Diego,160.0,16.0,NaN,NaN,342.0,556.0,1074
37,San Francisco,3.0,NaN,NaN,NaN,23.0,NaN,25
38,San Joaquin,439.0,62.0,NaN,NaN,66.0,5.0,572
39,San Luis Obispo,11.0,13.0,NaN,NaN,2209.0,NaN,2234
40,San Mateo,87.0,NaN,NaN,NaN,NaN,NaN,87
41,Santa Barbara,32.0,NaN,NaN,NaN,104.0,NaN,136
42,Santa Clara,14.0,NaN,NaN,NaN,48.0,NaN,62
43,Santa Cruz,29.0,NaN,NaN,NaN,2.0,NaN,31
44,Shasta,710.0,320.0,NaN,NaN,14.0,252.0,1297
45,Sierra,NaN,28.0,NaN,NaN,NaN,NaN,28
46,Siskiyou,49.0,323.0,NaN,NaN,NaN,NaN,371
47,Solano,76.0,NaN,NaN,NaN,42.0,2390.0,2507
48,Sonoma,37.0,NaN,4744.0,NaN,23.0,NaN,4804
49,Stanislaus,147.0,48.0,NaN,NaN,118.0,NaN,313
50,Sutter,NaN,NaN,NaN,NaN,4.0,NaN,4
51,Tehama,NaN,43.0,NaN,NaN,12.0,2.0,57
52,Trinity,NaN,23.0,NaN,NaN,NaN,NaN,23
53,Tulare,NaN,100.0,NaN,NaN,737.0,NaN,837
54,Tuolumne,169.0,774.0,NaN,NaN,4.0,NaN,947
55,Ventura,6.0,2.0,NaN,NaN,6.0,NaN,15
56,Yolo,204.0,45.0,NaN,NaN,21.0,2.0,272
57,Yuba,27.0,6.0,NaN,NaN,2.0,NaN,34
58,Total,5890.0,5349.0,10943.0,2303.0,26300.0,13688.0,64473

In [3]:
# replace NaN's with 0's
ce_df = ce_df.fillna(0)

In [4]:
ce_df = ce_df.loc[ce_df['County'] != 'Total']

In [5]:
ce_df = ce_df.rename(columns={'County':'county'})

In [6]:
# check dtypes
ce_df.dtypes

county                  object
Biomass                float64
Small Hydro            float64
Geothermal             float64
Solar Thermal          float64
Solar Photovoltaic     float64
Wind                   float64
Total                    int64
dtype: object

In [7]:
# Export the cleaned data to a csv file change to "DataSource to: ../Clean_Data/"
ce_df.to_csv('../Clean_Data/CLEAN_cali_clean_energy.csv', index=False)

In [8]:
# import the dataframe to a table in sql

# Make sure to add a config.py file in the folder where this script is that has the following
# db_password = "Your Password for SQL"
# also change the database name to the database we are importing the table to.
# You must create the database prior to running this script
# We use final_project for our database name
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
#replace the file location to that of which the cleaned data was saved to csv.
#file line should match that of the export file location and name
for data in pd.read_csv(f'../Clean_Data/CLEAN_cali_clean_energy.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    #name the table of which the dataframe is imported to in sql
    data.to_sql(name='clean_energy', con=engine, index=False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 58...Done. 0.05794119834899902 total seconds elapsed