In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

- This script imports the raw data from github 
- Organizes and cleans the dataframe
- Exports the clean data to a csv
- Imports the clean data directly to SQL

In [2]:
# import the file from github to a dataframe
url = 'https://raw.githubusercontent.com/Bropell/Asthma_Analysis_in_California_Counties/main/Resources/Raw_Data/Air_Pollutant_data.csv'
ap_df = pd.read_csv(url)
ap_df

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Pollutant
0,1,Alabama,1001,Autauga,2005,0.72,NaN,Pollutant: Benzene
1,1,Alabama,1001,Autauga,2005,2.60,NaN,Pollutant: Formaldehyde
2,1,Alabama,1001,Autauga,2005,2.87,NaN,Pollutant: Acetaldehyde
3,1,Alabama,1001,Autauga,2005,0.61,NaN,Pollutant: Carbon tetrachloride
4,1,Alabama,1001,Autauga,2005,0.03,NaN,"Pollutant: 1,3-butadiene"
...,...,...,...,...,...,...,...,...
31415,56,Wyoming,56045,Weston,2011,0.20,NaN,Pollutant: Benzene
31416,56,Wyoming,56045,Weston,2011,0.75,NaN,Pollutant: Formaldehyde
31417,56,Wyoming,56045,Weston,2011,1.14,NaN,Pollutant: Acetaldehyde
31418,56,Wyoming,56045,Weston,2011,0.55,NaN,Pollutant: Carbon tetrachloride
31419,56,Wyoming,56045,Weston,2011,0.01,NaN,"Pollutant: 1,3-butadiene"

In [3]:
# filter to just states with the name California
ap_df2 = ap_df.loc[ap_df.State == 'California']
ap_df2.head()

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Pollutant
1850,6,California,6001,Alameda,2005,1.11,NaN,Pollutant: Benzene
1851,6,California,6001,Alameda,2005,2.90,NaN,Pollutant: Formaldehyde
1852,6,California,6001,Alameda,2005,1.98,NaN,Pollutant: Acetaldehyde
1853,6,California,6001,Alameda,2005,0.61,NaN,Pollutant: Carbon tetrachloride
1854,6,California,6001,Alameda,2005,0.12,NaN,"Pollutant: 1,3-butadiene"

In [4]:
# convert the year column to type string
ap_df2['Year'] = ap_df2['Year'].astype(str)

/Users/melphillips/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
# select specific year of 2011
ap_df3 = ap_df2.loc[ap_df2.Year == '2011']
ap_df3.head()

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Pollutant
1855,6,California,6001,Alameda,2011,0.66,NaN,Pollutant: Benzene
1856,6,California,6001,Alameda,2011,1.33,NaN,Pollutant: Formaldehyde
1857,6,California,6001,Alameda,2011,1.20,NaN,Pollutant: Acetaldehyde
1858,6,California,6001,Alameda,2011,0.55,NaN,Pollutant: Carbon tetrachloride
1859,6,California,6001,Alameda,2011,0.07,NaN,"Pollutant: 1,3-butadiene"

In [6]:
# reduce dataframe to just County Value Pollutant columns
ap_df4 = ap_df3[['County','Value','Pollutant']]
# ap_df4 = ap_df4.set_index("County")
ap_df4

       County  Value                        Pollutant
1855  Alameda   0.66               Pollutant: Benzene
1856  Alameda   1.33          Pollutant: Formaldehyde
1857  Alameda   1.20          Pollutant: Acetaldehyde
1858  Alameda   0.55  Pollutant: Carbon tetrachloride
1859  Alameda   0.07         Pollutant: 1,3-butadiene
...       ...    ...                              ...
2425     Yuba   0.45               Pollutant: Benzene
2426     Yuba   2.37          Pollutant: Formaldehyde
2427     Yuba   2.28          Pollutant: Acetaldehyde
2428     Yuba   0.55  Pollutant: Carbon tetrachloride
2429     Yuba   0.04         Pollutant: 1,3-butadiene

[290 rows x 3 columns]

In [7]:
# Create pivot table for 'County', 'Value', 'Pollutant'
ap_df5 = ap_df4
ap_df5.reset_index().drop(columns='index', inplace=True)
pollutant_pivot = ap_df5.pivot(index='County', columns='Pollutant', values='Value')
pollutant_pivot = pollutant_pivot.reset_index()
pollutant_pivot

Pollutant,County,"Pollutant: 1,3-butadiene",Pollutant: Acetaldehyde,Pollutant: Benzene,Pollutant: Carbon tetrachloride,Pollutant: Formaldehyde
0,Alameda,0.07,1.20,0.66,0.55,1.33
1,Alpine,0.01,0.99,0.07,0.55,0.76
2,Amador,0.02,1.85,0.22,0.55,1.89
3,Butte,0.05,2.28,0.48,0.55,2.34
4,Calaveras,0.02,1.76,0.21,0.55,1.77
5,Colusa,0.01,1.85,0.25,0.55,1.72
6,Contra Costa,0.06,1.24,0.58,0.55,1.38
7,Del Norte,0.01,1.07,0.29,0.55,0.89
8,El Dorado,0.03,1.89,0.30,0.55,1.90
9,Fresno,0.04,2.13,0.47,0.55,2.20
10,Glenn,0.02,2.02,0.38,0.55,1.92
11,Humboldt,0.03,1.09,0.37,0.55,0.92
12,Imperial,0.03,2.22,0.73,0.55,2.17
13,Inyo,0.01,1.06,0.20,0.55,0.82
14,Kern,0.03,2.18,0.43,0.55,2.19
15,Kings,0.02,1.98,0.39,0.55,1.90
16,Lake,0.02,1.41,0.29,0.55,1.35
17,Lassen,0.01,1.22,0.14,0.55,0.95
18,Los Angeles,0.08,1.87,0.76,0.55,2.03
19,Madera,0.02,1.88,0.41,0.55,1.92
20,Marin,0.04,1.07,0.45,0.55,1.07
21,Mariposa,0.01,1.77,0.13,0.55,1.60
22,Mendocino,0.02,1.31,0.35,0.55,1.16
23,Merced,0.03,1.82,0.50,0.55,1.89
24,Modoc,0.01,1.08,0.20,0.55,0.80
25,Mono,0.00,0.78,0.07,0.55,0.55
26,Monterey,0.03,0.97,0.41,0.55,1.07
27,Napa,0.03,1.32,0.40,0.55,1.31
28,Nevada,0.02,2.03,0.25,0.55,2.02
29,Orange,0.07,1.56,0.69,0.55,1.74
30,Placer,0.05,2.08,0.51,0.55,2.23
31,Plumas,0.01,1.47,0.12,0.55,1.20
32,Riverside,0.03,1.81,0.42,0.55,1.90
33,Sacramento,0.09,2.02,0.80,0.55,2.33
34,San Benito,0.02,1.13,0.41,0.55,1.24
35,San Bernardino,0.03,1.73,0.48,0.55,1.77
36,San Diego,0.05,1.50,0.82,0.55,1.57
37,San Francisco,0.15,1.40,1.51,0.55,1.69
38,San Joaquin,0.05,1.65,0.60,0.55,1.76
39,San Luis Obispo,0.02,1.13,0.29,0.55,1.22
40,San Mateo,0.06,0.96,0.53,0.55,1.02
41,Santa Barbara,0.03,1.19,0.37,0.55,1.36
42,Santa Clara,0.06,1.37,0.67,0.55,1.49
43,Santa Cruz,0.04,1.20,0.44,0.55,1.25
44,Shasta,0.03,1.96,0.38,0.55,1.91
45,Sierra,0.01,1.26,0.12,0.55,1.01
46,Siskiyou,0.01,1.19,0.19,0.55,0.97
47,Solano,0.04,1.31,0.48,0.55,1.37
48,Sonoma,0.04,1.34,0.46,0.55,1.29
49,Stanislaus,0.04,1.82,0.55,0.55,1.92
50,Sutter,0.06,2.29,0.58,0.55,2.43
51,Tehama,0.02,2.04,0.30,0.55,1.92
52,Trinity,0.01,1.28,0.10,0.55,1.01
53,Tulare,0.03,2.36,0.45,0.55,2.39
54,Tuolumne,0.02,1.78,0.23,0.55,1.79
55,Ventura,0.03,1.43,0.41,0.55,1.55
56,Yolo,0.05,1.82,0.59,0.55,1.89
57,Yuba,0.04,2.28,0.45,0.55,2.37

In [8]:
# Check dtypes for columns 
pollutant_pivot.dtypes

Pollutant
County                              object
Pollutant: 1,3-butadiene           float64
Pollutant: Acetaldehyde            float64
Pollutant: Benzene                 float64
Pollutant: Carbon tetrachloride    float64
Pollutant: Formaldehyde            float64
dtype: object

In [9]:
# Export the cleaned data to a csv file change to "DataSource to: ../Clean_Data/"
pollutant_pivot.to_csv('../Clean_Data/CLEAN_air_pollutant_data.csv', index=False)

In [10]:
# import the dataframe to a table in sql

# Make sure to add a config.py file in the folder where this script is that has the following
# db_password = "Your Password for SQL"
# also change the database name to the database we are importing the table to.
# You must create the database prior to running this script
# We use final_project for our database name
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
#replace the file location to that of which the cleaned data was saved to csv.
#file line should match that of the export file location and name
for data in pd.read_csv(f'../Clean_Data/CLEAN_air_pollutant_data.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    #name the table of which the dataframe is imported to in sql
    data.to_sql(name='air_pollutants', con=engine, index=False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 58...Done. 0.10276675224304199 total seconds elapsed