In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
url = 'https://raw.githubusercontent.com/Bropell/Asthma_Analysis_in_California_Counties/main/Resources/Raw_Data/ca_ev_registrations_public.csv'
EV_regist_df = pd.read_csv(url)
EV_regist_df

/Users/melphillips/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Vehicle_ID,County_GEOID,Registration_Valid_Date,State,Geography,Vehicle_Name,County
0,CA-011-262244\r,6059,1/1/20,CA,County,Chevrolet Bolt EV,Orange
1,CA-011-262243\r,6059,1/1/20,CA,County,Chevrolet Bolt EV,Orange
2,CA-011-262246\r,6059,1/1/20,CA,County,Chevrolet Bolt EV,Orange
3,CA-011-262245\r,6059,1/1/20,CA,County,Chevrolet Bolt EV,Orange
4,CA-011-262242\r,6059,1/1/20,CA,County,Chevrolet Bolt EV,Orange
...,...,...,...,...,...,...,...
628468,CA-011-55990\r,6013,1/1/20,CA,County,Tesla Model 3,Contra Costa
628469,CA-011-55987\r,6013,1/1/20,CA,County,Tesla Model 3,Contra Costa
628470,CA-011-55986\r,6013,1/1/20,CA,County,Tesla Model 3,Contra Costa
628471,CA-011-55989\r,6013,1/1/20,CA,County,Tesla Model 3,Contra Costa
628472,CA-011-55988\r,6013,1/1/20,CA,County,Tesla Model 3,Contra Costa

In [3]:
#find the counts of evs per county in California and convert it to dataframe
EVs_per_county = EV_regist_df.County.value_counts()
EVs_per_county = pd.DataFrame(EVs_per_county)
EVs_per_county.reset_index(inplace=True)

In [4]:
#renaming columns in dataframe
EVs_per_county = EVs_per_county.rename(columns = {'index':'County','County':'Registered EV Count'})
EVs_per_county

              County  Registered EV Count
0       Los Angeles                154234
1            Orange                 76706
2       Santa Clara                 73092
3         San Diego                 51616
4           Alameda                 45785
5      Contra Costa                 25938
6         San Mateo                 24890
7         Riverside                 22953
8    San Bernardino                 17279
9     San Francisco                 16134
10       Sacramento                 15855
11          Ventura                 13080
12           Sonoma                  9868
13            Marin                  9657
14           Placer                  6339
15      San Joaquin                  5918
16           Fresno                  5481
17       Santa Cruz                  5420
18           Solano                  5139
19    Santa Barbara                  5088
20           Unknown                 4554
21  San Luis Obispo                  3964
22         Monterey                  3429
23             Kern                  3222
24             Yolo                  2948
25        El Dorado                  2795
26       Stanislaus                  2606
27             Napa                  2365
28         Humboldt                  1475
29           Tulare                  1391
30           Nevada                  1113
31            Butte                   982
32           Merced                   968
33        Mendocino                   924
34           Shasta                   734
35       San Benito                   718
36           Madera                   574
37            Kings                   379
38             Lake                   376
39           Sutter                   364
40             Yuba                   289
41         Imperial                   288
42        Calaveras                   276
43         Tuolumne                   240
44           Amador                   226
45           Tehama                   143
46         Siskiyou                    98
47        Del Norte                    92
48         Mariposa                    81
49             Inyo                    78
50             Mono                    67
51            Glenn                    65
52           Plumas                    52
53          Trinity                    47
54           Colusa                    45
55           Lassen                    14
56           Alpine                    11
57           Sierra                     7
58            Modoc                     1

In [5]:
EVs_per_county = EVs_per_county.loc[EVs_per_county['County'] != "Unknown"]

In [6]:
#export the cleaned data to a csv file change to "DataSource to: ../Clean_Data/"
EVs_per_county.to_csv('../Clean_Data/CLEAN_EVs_per_county.csv', index = False)

In [7]:
#import the dataframe to a table in sql
#Make sure to add a config.py file in the folder where this script is that has the following
#db_password = "Your Password for SQL"
#also change the database name to the database we are importing the table to.
#we use final_project for our database name and it is create prior to running this script
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
#replace the file location to that of which the cleaned data was saved to csv.
#file line should match that of the export file location and name
for data in pd.read_csv(f'../Clean_Data/CLEAN_EVs_per_county.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    #name the table of which the dataframe is imported to in sql
    data.to_sql(name='registered_evs', con=engine, index=False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 58...Done. 0.06246018409729004 total seconds elapsed